@media screen and (max-width:500px) {
    .currently-work,
    .game-short-line {
        font-size: 12px;
    }

    .key {
        width: 62px;
        height: 62px;
    }
}


@media screen and (max-width:1228px) and (min-width:1024px) {
    .music-box {
        width: 38%;
    }

    .more-project-box {
        width: 27%;
    }
}
